ul{
    width: 200px;
    margin: 0;
    padding: 30px;
    background-color: black;

    input{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 0; 
    }

    color: white;
}